<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>QR genretor</title>
</head>

<body>
    <div class="container mg-top:100px" style="    margin-top: 100px;">
        <h1 style="text-align: center;">QR Genretor</h1>
        <hr>
        <form action="/scan" method="post" class="form">
            <textarea name="text" id="text" cols="137" rows="10"
                placeholder="Enter here URL or TEXT want to make QR"></textarea>
                <br><br>
                <button type="submit" class="btn btn-outline-success">Genrate</button>

                


        </form>
    </div>

</body>

</html>